{
    # إيقاف الـ TLS التلقائي والـ HTTPS Redirect تماماً
    auto_https off

    # إيقاف الـ Admin API (مش محتاجينه في Production)
    admin off
}

http://:80 {
    root * /app/public

    php_server

    log {
        output stdout
        format json
    }
}